/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Start of my code*/

body {
	width: 940px;
	margin: 0 auto;
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	color: rgb(60,60,60);
	background-size: 100%;
	background-attachment:fixed;
	
}

#Content {
	margin-top: 60px;
}

.Widget {
	position: relative;
	height: 120px;
	margin-bottom: 40px;
	
	box-shadow: 4px 4px 4px #777;
	border-radius: 8px;
	background: rgb(72,72,72); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(72,72,72,1) 0%, rgba(40,40,40,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(72,72,72,1)), color-stop(100%,rgba(40,40,40,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(72,72,72,1) 0%,rgba(40,40,40,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(72,72,72,1) 0%,rgba(40,40,40,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(72,72,72,1) 0%,rgba(40,40,40,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(72,72,72,1) 0%,rgba(40,40,40,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#484848', endColorstr='#282828',GradientType=0 ); /* IE6-9 */
	cursor: pointer;
}

.Widget .WidgetTitle {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 240px;
	border-radius: 8px;
	border-right: 2px solid black;
	font-size: 24px;
	color: white;
	text-align: center;
}	

.Widget .AGTitle {
	padding-top: 32px;
	height: 86px;
}

.Widget .WidgetTitle:hover {
	background: rgb(255,168,76); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,168,76,1) 0%, rgba(255,123,13,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,168,76,1)), color-stop(100%,rgba(255,123,13,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,168,76,1) 0%,rgba(255,123,13,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,168,76,1) 0%,rgba(255,123,13,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,168,76,1) 0%,rgba(255,123,13,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,168,76,1) 0%,rgba(255,123,13,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa84c', endColorstr='#ff7b0d',GradientType=0 ); /* IE6-9 */
}

.Widget .WidgetContent {
	position: absolute;
	top: 0px;
	left: 242px;
	height: 120px;
	width: 700px;
}

#ProgressBarTitle {
	font-size: 20px;
	color: white;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

#ProgressBar {
	border: 1px solid red;
	height: 22px;
	width: 600px;
	margin: 0 auto;
	
}
.ui-progressbar .ui-progressbar-value { 
	background-image: url(../images/pbar-ani.gif);
}

.Widget .ApplicationsTitle {
	padding-top: 44px;
	height: 76px;
}

.LightWidget {
	line-height: 1.5;
	background: rgb(72,72,72); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(72,72,72,1) 0%, rgba(40,40,40,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(72,72,72,1)), color-stop(100%,rgba(40,40,40,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(72,72,72,1) 0%,rgba(40,40,40,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(72,72,72,1) 0%,rgba(40,40,40,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(72,72,72,1) 0%,rgba(40,40,40,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(72,72,72,1) 0%,rgba(40,40,40,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#484848', endColorstr='#282828',GradientType=0 ); /* IE6-9 */
	color: white;
	border-radius: 4px;
	margin-bottom: 20px;
	box-shadow: 2px 2px 2px #777;
}

.LightWidget .Title {

	border-bottom: 1px solid black;
	border-top-right-radius: 2px;
	border-top-left-radius: 2px;
	padding: 10px;
	font-size: 18px;
	font-weight: bold;
	
}

.LightWidget .UnitCompletion {
	padding: 10px;
	border-top: 1px solid rgb(80,80,80);
	border-right: 1px solid black;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
}



.CompletedButton {
	height: 10px;
	width: 10px;
	border: 1px solid rgb(200,200,200);
	border-radius: 5px;
	display: inline-block;
	margin-right: 10px;	
	cursor: pointer;
}

.Completed {
	border: 1px solid #00B91A;
	background-color: #00B91A;
	box-shadow: 0px 0px 8px #00B91A;
}

.LightWidget .ShortDescription {
	padding: 10px;
	border-top: 1px solid rgb(80,80,80);
	border-right: 1px solid black;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
}

.LightWidget .ExpandButton {
	padding: 5px;
	text-align: center;
	font-size: 10px;
	color: rgb(200,200,200);
	border-top: 1px solid rgb(80,80,80);
	cursor: pointer;
}

.LightWidget .ExpandButton:hover {
	color: orange;
}



















