/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


/* Start of my code*/


body {
	width: 940px;
	margin: 0 auto;
	font-family: Futura, "Trebuchet MS", Arial, sans-serif;
	
}

#Content {
	margin-top: 200px;
}


.About {
	border-radius: 4px;
	border-2px solid white;
	box-shadow: 0px 0px 4px white;
	padding: 20px;
	margin-bottom: 100px;
	background-color: rgba(0,0,0, 0.8);
	color: white;
	line-height: 1.4;
}

.Widget {
	position: relative;
	height: 120px;
	margin-bottom: 40px;
	border-radius: 8px;
	background: rgb(72,72,72); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(72,72,72,1) 0%, rgba(40,40,40,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(72,72,72,1)), color-stop(100%,rgba(40,40,40,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(72,72,72,1) 0%,rgba(40,40,40,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(72,72,72,1) 0%,rgba(40,40,40,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(72,72,72,1) 0%,rgba(40,40,40,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(72,72,72,1) 0%,rgba(40,40,40,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#484848', endColorstr='#282828',GradientType=0 ); /* IE6-9 */
	cursor: pointer;
}

.Widget .WidgetTitle {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 240px;
	border-right: 2px solid black;
	font-size: 24px;
	color: white;
	text-align: center;
}	

.Widget .AGTitle {
	padding-top: 32px;
	height: 86px;
}

.Widget .WidgetTitle:hover {
	background: rgb(255,168,76); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,168,76,1) 0%, rgba(255,123,13,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,168,76,1)), color-stop(100%,rgba(255,123,13,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(255,168,76,1) 0%,rgba(255,123,13,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(255,168,76,1) 0%,rgba(255,123,13,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(255,168,76,1) 0%,rgba(255,123,13,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(255,168,76,1) 0%,rgba(255,123,13,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffa84c', endColorstr='#ff7b0d',GradientType=0 ); /* IE6-9 */
	border-bottom-left-radius: 8px;
	border-top-left-radius: 8px;

}

.Widget .WidgetContent {
	position: absolute;
	top: 0px;
	left: 242px;
	height: 120px;
	width: 700px;
}

#ProgressBarTitle {
	font-size: 20px;
	color: white;
	text-align: center;
	margin-top: 20px;
	margin-bottom: 20px;
}

#ProgressBar {
	border: 1px solid red;
	height: 22px;
	width: 600px;
	margin: 0 auto;
	
}
.ui-progressbar .ui-progressbar-value { 
	background-image: url(../images/pbar-ani.gif);
}

.Widget .ApplicationsTitle {
	padding-top: 44px;
	height: 76px;
}

.Widget .Column1 {
	position: absolute;
	left: 0px;
	top: 0px;
	width: 349px;
	height: 120px;
}

.Widget .Column2 {
	position: absolute;
	left: 349px;
	top: 0px;
	width: 350px;
	height: 120px;
}

.Widget .Stat {
	font-size: 20px;
	color: white;
	text-align: left;	
	padding: 18px;
	color: rgb(220,220,220);
}

.Widget .Stat  span{
	float: right;
	margin-right: 40px;	
	font-weight: bold;
	font-size: 22px;
}

.Orange {
	color: #FFA54A;
}

.Red {
	color: red;
}

.Purple {
	color: purple;
}


.Green {
	color: #4DB849;
}




/*Calendar Stuff*/

.MiniCalendarDay {
	width: 80px;
	height: 90px;
	border: 1px solid rgb(100,100,100);
	background-color: rgb(20,20,20);
	border-radius: 4px;
	display: inline-block;
	margin: 10px;
	margin-left: 36px;
	position: relative;
	background: rgb(149,149,149); /* Old browsers */
background: -moz-linear-gradient(left,  rgba(149,149,149,1) 0%, rgba(13,13,13,1) 0%, rgba(78,78,78,1) 49%, rgba(27,27,27,1) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, right top, color-stop(0%,rgba(149,149,149,1)), color-stop(0%,rgba(13,13,13,1)), color-stop(49%,rgba(78,78,78,1)), color-stop(100%,rgba(27,27,27,1))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(left,  rgba(149,149,149,1) 0%,rgba(13,13,13,1) 0%,rgba(78,78,78,1) 49%,rgba(27,27,27,1) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(left,  rgba(149,149,149,1) 0%,rgba(13,13,13,1) 0%,rgba(78,78,78,1) 49%,rgba(27,27,27,1) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(left,  rgba(149,149,149,1) 0%,rgba(13,13,13,1) 0%,rgba(78,78,78,1) 49%,rgba(27,27,27,1) 100%); /* IE10+ */
background: linear-gradient(to right,  rgba(149,149,149,1) 0%,rgba(13,13,13,1) 0%,rgba(78,78,78,1) 49%,rgba(27,27,27,1) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#959595', endColorstr='#1b1b1b',GradientType=1 ); /* IE6-9 */

}

.MiniCalendarDay .Divider {
	position: absolute;
	top: 0px;
	left: 0px;
	height: 54px;
	width: 80px;
	border-bottom: 1px solid rgb(20,20,20);
	z-index: 1;

	
}

.MiniCalendarDay .Day {
	color: #FFA54A;
	text-align: center;
	font-size: 12px;
	margin-top: 10px;
}	

.MiniCalendarDay .Number {
	color: white;
	text-align: center;
	margin-top: 20px;
	font-size: 38px;
}
















