
a {
	text-decoration: none;
	color: white;
}

#NavBar {
	position: absolute;
	top: 0px;
	left: 0px;
	background: rgb(72,72,72); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(72,72,72,1) 0%, rgba(40,40,40,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(72,72,72,1)), color-stop(100%,rgba(40,40,40,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(72,72,72,1) 0%,rgba(40,40,40,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(72,72,72,1) 0%,rgba(40,40,40,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(72,72,72,1) 0%,rgba(40,40,40,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(72,72,72,1) 0%,rgba(40,40,40,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#484848', endColorstr='#282828',GradientType=0 ); /* IE6-9 */
	width: 100%;
	box-shadow: 0px 0px 8px #777;
	border-bottom: 1px solid black;
}

#NavList {
	width: 940px;
	margin: 0 auto;
	padding: 12px;
	color: white;
}

#NavList span {
	cursor: pointer;
}

#NavList span:hover {
	color: orange;
}