.Green {
	color: #00B91A;
}

.Orange {
	color: #FFA54A;
}

.Red {
	color: red;
}

.Purple {
	color: purple;
}

#LightBox {
	position: absolute;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.8);
	z-index: 100;	
	display: none;
	
}

.FormContainer {
	padding: 20px;
	background-color: white;
	border: 1px solid rgb(200,200,200);
	width: 600px;	
	margin: 0 auto;
	margin-top: 300px;
	border-radius: 8px;
	box-shadow: 0px 8px 8px -8px rgb(240,240,240);
	position: relative;	
}

.FormContainer input {
	padding: 6px;
	border-radius: 4px;
	box-shadow: 0px 4px 4px -4px rgb(200,200,200);
	border: 1px solid rgb(200,200,200);
	margin-left: 20px;
	margin-right: 20px;
	min-width: 240px;
}

.FormContainer textarea {
	padding: 6px;
	border-radius: 4px;
	box-shadow: 0px 4px 4px -4px rgb(200,200,200);
	border: 1px solid rgb(200,200,200);
	min-width: 460px;
	max-width: 460px;
	margin-top: 4px;
	min-height: 80px;
}

.FormTitle {
	font-size: 20px;
	font-weight: bold;
}

.Label {
	width: 200px;
	display: inline-block;
}

.SubmitButton {
	width: 140px;
    text-align: center;
    padding-top: 6px;
    padding-bottom: 6px;
    border-radius: 4px;
    border: 1px solid rgb(200,200,200);
    margin: 0 auto;
    margin-top: 10px;
    cursor: pointer;
    background-color: #0126B1;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#4D90FD', endColorstr='#4787ED');
	background-image: -webkit-gradient(linear, left top, left bottom, from(#4D90FD), to(#4787ED));
	background-image: -webkit-linear-gradient(top, #4D90FD, #4787ED);
	background-image: -moz-linear-gradient(top, #4D90FD, #4787ED);
	background-image: -o-linear-gradient(top, #4D90FD, #4787ED);
	background-image: -ms-linear-gradient(top, #4D90FD, #4787ED);
	background-image: linear-gradient(top, #4D90FD, #4787ED);
	color: white;
}

.SubmitButton:hover {
	box-shadow: 0px 0px 20px orange;
}

.ExitButton {
	float: right;
	color: red;
	font-weight: bold;
	font-size: 20px;
	width: 14px;
	height: 14px;
	border-radius: 7px;
	background-color: red;
	box-shadow: 0px 0px 4px red;
	cursor: pointer;
}



body {
	background-image: url(http://www.hdwallpapers.in/walls/beautiful_village-wide.jpg);
	background-size: cover;
	background-position: fixed;
}

a {
	text-decoration: none;
	color: white;
}

#NavBar {
	position: absolute;
	top: 0px;
	left: 0px;
	background: rgb(72,72,72); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(72,72,72,1) 0%, rgba(40,40,40,1) 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(72,72,72,1)), color-stop(100%,rgba(40,40,40,1))); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  rgba(72,72,72,1) 0%,rgba(40,40,40,1) 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  rgba(72,72,72,1) 0%,rgba(40,40,40,1) 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  rgba(72,72,72,1) 0%,rgba(40,40,40,1) 100%); /* IE10+ */
	background: linear-gradient(to bottom,  rgba(72,72,72,1) 0%,rgba(40,40,40,1) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#484848', endColorstr='#282828',GradientType=0 ); /* IE6-9 */
	width: 100%;
	box-shadow: 0px 0px 8px #777;
	border-bottom: 1px solid black;
}

#NavList {
	width: 940px;
	margin: 0 auto;
	padding: 12px;
	color: white;
}

#NavList span {
	cursor: pointer;
}

#NavList span:hover {
	color: orange;
}